

	/*.header{
		width: 100%;
		height: 150px;
	}
*/
 a{
    color: red;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px
}
a:hover{
	color: white;
}

.nonlink {
    color: black;
    font-size: 30px;
    padding-left: 10px
}



.container-home{
	background: url(../images/home.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 1080px;
}

.container-map{
	background: url(../images/map.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 1080px;
}

.container-element {
	margin-top: 0;
	width: 400px;
	display: inline-block;
	font-size: 20px;
	color: black;
	background-color: rgba(135,206,250,.7);
	padding: 20px 0 20px 20px;
}

.container-gallery {
	background: url(../images/gallery.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 1080px;


}

.image{
	width: 600px;
	height: 400px;
}
#slideshow{
	align-self: center;
}
.back-button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.forward-button{
	    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/*.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
